fastapi
uvicorn
beanie
motor
pydantic-settings
python-jose
bcrypt
passlib
python-dotenv
pytest
httpx
temporalio
mongomock-motor
pytest-asyncio
anyio

google-auth
google-auth-oauthlib
google-api-python-client
cryptography
openpyxl
